.home.container {
    padding-top: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-image: url("../../../nature.gif");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home.container > * {
    grid-column: 2/2;
    width: 100%;
}

.posts-div {
    opacity: 0.9;
    background: #fff;
    color: #000;
}