.album-page.container {
    padding-top: 10%;
}
.photos-div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.photos-div > * {
    grid-column: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    width: 90%;
    margin: 2%;
}
.photos-div > * > * > *{
    font-size: 1.5em !important;
}
.photo-popup {
    position: absolute;
    top: 40%;
    right: 25%;
    left: 25%;
    background: black;
}
.photo-popup > * {
    height: 100% !important;
    width: 100% !important;
    border-radius: 0% !important;
}